body {
    font-family: Arial, sans-serif;
    background-color: #FFC0CB; /* Pink */
    margin: 0;
    padding: 0;
}
header {
    background-color: #eeafba;
    color: white;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: rgb(19, 18, 18);
    text-decoration: none;
  }


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.booking {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.booking:hover {
    transform: translateY(-5px);
}

.booking-info {
    margin-bottom: 10px;
}

.booking-actions {
    display: flex;
    justify-content: space-between;
}

.contact-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #45a049;
}
